<!DOCTYPE html>
<html>

<head>
    <title>❁ Random Sentance Generator ❁</title>
</head>

<body>
    <h2>✩ ｡:*❁ Want to generate a sentance?❁ *:｡✩</h2>
    <p>{{ sentence }}</p>

    <a href="/rand/sentence/gen">
      <button>Generate sentance</button>
    </a>

    &nbsp &nbsp &nbsp

    <h2>───▄▀▀▀▄▄▄▄▄▄▄▀▀▀▄───</h2>
    <h2>───█▒▒░░░░░░░░░▒▒█───</h2>
    <h2>────█░░█░░░░░█░░█────</h2>
    <h2>─▄▄──█░░░▀█▀░░░█──▄▄─</h2>
    <h2>█░░█─▀▄░░░░░░░▄▀─█░░█</h2>
    <h2>█▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█</h2>
    <h2>█░░╦─╦╔╗╦─╔╗╔╗╔╦╗╔╗░░█</h2>
    <h2>█░░║║║╠─║─║─║║║║║╠─░░█</h2>
    <h2>█░░╚╩╝╚╝╚╝╚╝╚╝╩─╩╚╝░░█</h2>
    <h2>█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█</h2>
    
    &nbsp &nbsp &nbsp

    <h2>Text image taken from:</h2>
    <h2>https://www.messletters.com/en/text-art//</h2>

</body>

</html>
