<head>
  <link rel="stylesheet" href="/static/example.css">
  <script src="/static/example.js"></script>
</head>

<h1 class="my-class" id="hello">Rock, Paper, Scissors</h1>

<p class="center-para">{{ someText }}</p>

<div class="center-para">
  <button class="big-button" value="r" onclick="play_game(this.value)">Rock</button>
  <button class="big-button" value="p" onclick="play_game(this.value)">Paper</button>
  <button class="big-button" value="s" onclick="play_game(this.value)">Scissors</button>
</div>

<p id="result" class="center-para"></p>

